.about {
  width:60%;
  display: inline-block;
  /* margin: auto; */
  height: 50vh;
  background-color  : green;
  margin-left: 0.5em;
  /* width: 95%; */
}

.abt-body {
  font-size: 1.25em;
  color: var(--gray);
}

.intext-link {
  text-decoration: none;
  color: var(--accent2);
}

.intext-link:hover {
  color: #1DB954;
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  .about {
    margin: auto;
    width: 85%;
  }
}