.main {
  margin: 0;
  margin-top: 1vh;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 100%;
  align-items: center;
}

.intro-text {
  max-width: 125%;
  font-size: 1.9rem;
  margin-left: -45%;
  font-family: var(--header);
  color: var(--secondary);
}

.intro-image {
  text-align: left;
  margin-left: 22%
}

.intro-image img {
  width: 42%;
  height: auto;
  border-radius: 10px;
}


@media screen and (max-width: 960px) {
  .intro-container {
    display: table;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 87%;
  }
  
  .intro-text {
    display: table-row;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    color: var(--secondary);
  }
  
  .intro-image {
    display: table-row;
    text-align: center;
  }
  
  .intro-image img {
    width: 38%;
    height: auto;
    border-radius: 15px;
  }

}