.home {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-container {
  display: table;
  margin-top: 3%;
  margin-bottom: 0;
  width: 82%;
}

.intro-text {
  display: table-row;
  text-align: center;
  font-size: 1.25rem;
  color: var(--secondary);
}

.intro-image {
  display: table-row;
  text-align: center;
}

.intro-image img {
  width: 80%;
  height: auto;
  border-radius: 0.25em;
  /* transform: translateY(0px); */
  /* animation: downUp 1.5s ease-in-out; */
}
/* 
@keyframes upDown {
  from {transform: translateY(0px);}
  to {transform: translateY(var(--portrait-y));}
}

@keyframes downUp {
  to {transform: translateY(0px)}
}

.intro-image img:hover {
  animation: upDown 1.5s alternate infinite ease-in-out;
} */

@media screen and (max-width: 960px) {
  .home {
    transform: translate(0%, -3%);
  }
}