.home {
  margin: 0;
  padding: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container {
  display: table;
  margin-top: 3%;
  margin-bottom: 0;
  width: 82%;
}

.intro-text {
  display: table-row;
  text-align: center;
  font-size: 1.25rem;
  color: var(--secondary);
}

.intro-image {
  display: table-row;
  text-align: center;
}

.intro-image img {
  width: 45%;
  height: auto;
  border-radius: 0.25em;
}

@media screen and (max-width: 960px) {
  .home {
    transform: translate(0%, -3%);
  }
}