.projects {
  margin: auto;
  /* margin-left: 5px; */
  padding: 0;
  width: 95%;
}

.proj-card {
  text-decoration: none;
  z-index: -1;
  display: block;
  background-color: rgb(27,28,30);
  padding: 1em 1em 2em 2em;
  margin: 1em 0px;
  border-radius: 0.25em;
  transition: transform 0.3s cubic-bezier(0.075, 0, 0.25, 1) 0s;
}

.proj-card:hover {
  z-index: -1;
  transform: scale(1.03);
  cursor: pointer;
}

.proj-title {
  color: var(--secondary);
}

.proj-desc {
  color: rgb(156, 157, 161);
}

.proj-lang {
  text-transform: uppercase;
  color: var(--accent);
}

.proj-lib {
  /* text-transform: uppercase; */
  color: var(--accent2);
}

h6 {
  margin: 0;
  margin-right: 15px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.gh {
  color: var(--secondary);
  font-size: 130%;
  float: right;
  padding: 0em 1em;
}

.gh:hover {
  color: var(--accent);
  transition: all 0.35s ease;
  cursor: pointer;
  transform: scale(0.95);
}

@media screen and (max-width: 960px) {
  .projects {
    margin: auto;
    padding: 0;
    width: 95%;
  }
}