.footer {
  margin: calc(var(--vertical-space)/2) calc(var(--vertical-space)/1) calc(var(--vertical-space)/2) calc(var(--vertical-space)/1);
  /* background-color: purple; */
}

.footer-container {
  /* background-color: var(--primary); */
  /* background-color: green; */
  /* border-radius: 50%; */
  margin: auto;
  width: 100%;
  /* border-top: 1px solid var(--accent); */
  color: var(--secondary);
  box-sizing: border-box;
}

.button-links {
  text-align: center;
  margin: 0;
  position: relative;
  /* transform: translate(0%, 40%); */
}

.icon {
  font-size: 2em;
  padding: 0.7em;
  padding-top: 0px;
  padding-bottom: 5px;
  color: var(--secondary);
}

.icon:hover {
  color: var(--accent);
  transition: all 0.35s ease;
  cursor: pointer;
  transform: scale(0.95);
}

/* .mail:hover {
  color: var(--accent);
}

.linkedin:hover {
  color: #0e76a8;
}

.instagram:hover {
  color: #C13584;
}

.spotify:hover {
  color: #1DB954;
}

.github:hover {
  color: #0366d6;
} */

.MuiIconButton-disableRipple {
  disableRipple: true;
}