.navbar {
  background-color: var(--primary);
  padding-top: 5px;
  width: 10%;
  position: fixed;
  z-index: 1;
}

.navbar-container {
  height: var(--header-height);
  display: inline;
  align-items: center;
  justify-content: center;
}

.logo-container {
  position: relative;
  /* background-color: rgb(202, 140, 26); */
  margin: auto;
  width: auto;
  display: block;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(auto, 3);
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

.nav-item {
  margin: 0.25em;
  width: 100%;
  font-size: 1.3em;
  letter-spacing: -0.01em;
  /* height: 35px; */
  /* margin-left: 10px; */
}

.nav-link {
  display: inline;
  cursor: pointer;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: var(--secondary);
  text-decoration: none;

}

.nav-link:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: var(--accent);
  border-radius: 100%;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.nav-link:hover:after,
.nav-link:focus:after,
.nav-link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.nav-link-mobile {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    display: none;
  }
}