.navbar {
  background: var(--primary);
  /* background: linear-gradient(90deg, rgb(19, 19, 19) 0%, rgb(19, 19, 19) 100%); */
  width: 100%;
  padding-top: 1px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.navbar-container {
  width:100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  width: 50vw;
  display: flex;
}

.logo {
  color: var(--secondary);
  min-width: 20%;
  max-width: 100%;
  justify-self: start;
  margin-left: 30px;
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.logo:hover {
  /* color: var(--accent); */
  transition: all 0.2s ease;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 15px;
  list-style: none;
  width: 50vw;
  margin-right: 40px;
  justify-content: right;
  justify-items: right;
  align-content: right;
}

.nav-item {
  font-size: 22px;
  height: 35px;
  margin-left: 10px;
}

.nav-link {
  display: inline;
  position: relative;
  overflow: hidden;
  color: var(--secondary);
  text-decoration: none;

}

.nav-link:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: var(--accent);
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.nav-link:hover:after,
.nav-link:focus:after,
.nav-link:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.nav-link-mobile {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    background: var(--primary);
    /* background: linear-gradient(90deg, rgb(19, 19, 19) 0%, rgb(19, 19, 19) 100%); */
    width: 100%;
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
  }
  
  .navbar-container {
    width:100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .logo-container {
    width: 70vw;
    display: flex;
  }
  
  .logo {
    color: var(--secondary);
    min-width: 20%;
    max-width: 100%;
    justify-self: start;
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .logo:hover {
    /* color: var(--accent); */
    transition: all 0.2s ease;
  }
  .nav-menu {
    display: none;
  }

  .mobile-nav-menu {
    visibility: hidden;
    max-height:0;
    height: auto;
    width: 100%;
    margin: 0;
    margin-top: var(--header-height);
    margin-bottom: -var(--header-height);
    padding: 0px;
    padding-bottom: 15px;
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none;
    background-color: var(--primary);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    transition: max-height 0.2s, margin-top 0.2s, margin-bottom 0.2s ease;
  }

  .mobile-nav-menu.active {
    visibility: visible;
    max-height: 500px;
    margin-top: var(--header-height);
    margin-bottom: -var(--header-height);
    transition: all 0.4s ease;
    z-index: 1;
  }

  .nav-item {
    font-size: 28px;
    height: 8vh;
    padding-top: 0.2vh;
    padding-bottom: 0.2vh;
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .nav-link {
    color: var(--secondary);
    height: 100%;
  }

  .nav-link:hover {
    border-bottom: 2px solid var(--accent);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-72%, 30%);
  }
}