:root {
  --primary: #131313;
  /* --primary: #282C35; */
  --secondary: #cfcfcf;
  --gray: rgb(156, 157, 161);
  --accent: #C13584;
  --accent2: #63A3D2;
  /* --accent: rgb(255,0,80); */
  --primary-font: "Menlo";
  /* --header: 'Courier New', Courier, monospace; */
  --header-height: 85px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--primary);
  font-family: var(--primary-font);
}

h1 {
  color: var(--secondary);
}

@font-face {
  font-family: Menlo;
  src: url(./fonts/Menlo-Regular.woff);
}

.left-panel {
  margin: auto;
  margin-top: calc(var(--header-height) + 1.5vh);
  float: left;
  width: 40%;
  position: fixed;
}

.right-panel {
  margin-top: calc(var(--header-height)  + 1.5vh);
  float: right;
  width: 64%;
}

::selection {
  color: var(--accent);
  /* background-color: var(--accent2); */
}

@media screen and (max-width: 960px) {
  .left-panel {
    margin-top: calc(75px + 1vh);
    float: none;
    position: relative;
    width:100%;
  }
  .right-panel {
    margin-top: 0px;
    float: none;
    width: 100%;
  }
}